* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FAF7A9;
    color: #000;
}

header {
    background-color: #F1E702;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #FAF9BF;
}

#entenda-mais {
    background-color: #F8F27C;
}

#peca-ajuda {
    background-color: #FAF493;
}

#depoimentos {
    background-color: #FAF7A9;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #F5EF52;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #000;
    color: #FAF9BF;
    padding: 10px;
    text-align: center;
}
